{{ define "main" }}

<section class="global-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>{{ .Title }}</h2>
					<div class="portfolio-meta">
						<span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>|
						<span> Tags:
							{{ if ne .Params.tags nil }}{{ delimit .Params.tags ", " }}{{ end }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="single-post">
	<div class="container">
		<!-- ------------------------------------- -->
		{{ if and (gt .WordCount 400) (ne .Params.toc false) }}
		{{ partial "toc.html" . }}
		{{ end }}
		<!-- ------------------------------------- -->
		<div class="row">
			<div class="col-md-12">
				{{ with .Params.image }}
				<div class="post-img">
					<img class="img-fluid" alt="" src="{{ . | absURL }}">
				</div>
				{{ end }}
				<div class="post-content">
					{{ .Content }}
				</div>
			</div>
		</div>

		{{ "<!-- disqus script START -->" | safeHTML }}
		<br>
		<br>
		<div id="disqus_thread"></div>
		<script>
			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://https-biwashi-github-io-blog.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
				Disqus.</a></noscript>

		{{ "<!-- disqus script END -->" | safeHTML }}
	</div>
</section>

<!-- {{ partial "disqus.html" . }} -->


{{ partial "cta.html" . }}

{{ end }}